1. Calculate Krippendorf’s alpha score: used when multiple annotators rate overlapping but disparate set of comments
2. Manually annotate 150 samples and calculate Kappa score

#### Krippendorf’s alpha

In [1]:
import pandas as pd
from nltk.metrics.agreement import AnnotationTask
from nltk.metrics import binary_distance
pd.set_option('display.max_colwidth', -1)

In [2]:
df = pd.read_csv('/home/ndg/users/sbagga1/unpalatable-questions/crowdsourcing/annotations/annotations_batch_1_2_3.tsv',
                delimiter='\t')
print(df.shape)
df.head()

(60050, 5)

  Reply ID            Label      Worker ID  Accuracy  # Assignments
0  d1xp7zw  not_unpalatable  AHBEBTY41ZW52  92.0      90
1  d1kgl7x  not_unpalatable  AHBEBTY41ZW52  92.0      90
2  czlolak  not_unpalatable  AHBEBTY41ZW52  92.0      90
3  cz4rxc1  not_unpalatable  AHBEBTY41ZW52  92.0      90
4  d0nmwl8  not_unpalatable  AHBEBTY41ZW52  92.0      90

In [3]:
# Ordering: (45221979, 'd22rr63', 'not_unpalatable')
annotation_triplets = [tuple(d) for d in df[['Worker ID', 'Reply ID', 'Label']].values]
print(len(annotation_triplets))
print(annotation_triplets[:3])

60050
[('AHBEBTY41ZW52', 'd1xp7zw', 'not_unpalatable'), ('AHBEBTY41ZW52', 'd1kgl7x', 'not_unpalatable'), ('AHBEBTY41ZW52', 'czlolak', 'not_unpalatable')]

In [4]:
t = AnnotationTask(annotation_triplets, distance=binary_distance)
print(t.alpha())

0.3912294528067308

#### Kappa score

In [5]:
from sklearn.metrics import cohen_kappa_score

# Read the annotated file and calculate Kappa:
df = pd.read_excel('/home/ndg/users/sbagga1/unpalatable-questions/crowdsourcing/random_150_for_kappa.xlsx')
my_labels = df['my_label'].tolist()
labels = df['label'].tolist()
print(len(my_labels), len(labels))

print("Kappa:", cohen_kappa_score(my_labels, labels))

150 150
Kappa: 0.8248175182481752

## fin.